<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoUFC"
        tools:targetApi="31">
        <activity
            android:name=".actividades.MapsActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDx_KDS2bRw4WlwErK_TE7EIyplKrTF7hg" />

        <activity
            android:name=".actividades.MenuPagarActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.PagarActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.CargarDocumentoActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.UnirseConsultaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.InfoCitaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.NuevaSugerenciaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.UsuarioCreadoActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.BienvenidaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.RegistrodeUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.InicioSesionActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.CargaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>